/*Gallery Page CSS Starts: Kristian*/

.centerme {
    text-align: center;
    color: orange;

.headerbackground {
    background-color: black;
}

#cat-carousel {
    margin: 75px;
}

/*Gallery Page CSS Ends: Kristian*/



/*table {*/
/*    margin: auto;*/
/*    border-color: #b51798;*/
/*    border: 2px;*/
/*    padding: 10px 10px 10px 10px;*/
/*    border-radius: 3px;*/
/*    border-image-width: 4px;*/
/*    color: #F0Ffce;*/
/*}*/

/*div {*/
/*    margin: auto;*/
/*    text-align: center;*/
/*    padding: 5px 5px 5px 5px;*/
/*}*/






